{% load static %}
<html>
<head>
    <title>Add Expense</title>
    <link rel="stylesheet" href="{% static 'Addexpense.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</head>
<body>
{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'homepagecall' %}">Finance Management</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'UserApp:balancecheckpagecall' %}">Check Balance</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'UserApp:expense_list' %}">Expense List</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Finance Methods
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="{% url 'UserApp:add_expense' %}">Add Expense</a></li>
                            <li><a class="dropdown-item" href="{% url 'UserApp:balancecheckpagecall' %}">Check Balance</a></li>
                            <li><a class="dropdown-item" href="{% url 'UserApp:expense_list' %}">Expense List</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <span class="nav-link">Welcome, {{ user.username }}</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Loginpagecall' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Registerpagecall' %}">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock %}
    <h1>Add Expense</h1>
    <form method="post" action="{% url 'UserApp:add_expense' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Expense</button>
    </form>
</body>
</html>