<!--#need to explin  from here😊-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" href="../../static/cssFiles/Login.css">
</head>
<body>

<center>
<div class="container">
    <div class="heading">Sign Up</div>
{#    <form action="{% url 'UserRegisterLogic' %}" class="form" method="post">#}
        {% csrf_token %}
        <input required="" class="input" type="text" name="username" id="username" placeholder="username">
        <input required="" class="input" type="text" name="first_name" id="first_name" placeholder="First Name">
        <input required="" class="input" type="text" name="last_name" id="last_name" placeholder="Last Name">
        <input required="" class="input" type="email" name="email" id="email" placeholder="E-mail">
        <input required="" class="input" type="password" name="password" id="password" placeholder="Password">
        <input required="" class="input" type="text" name="password1" id="password1" placeholder="Confirm password">
      <input class="login-button" type="submit" value="Sign Up">
    </form>
    {% if messages %}
        <ul class="messages" style="list-style-type: none; padding: 0; margin: 20px 0 0; font-size: 14px;">
            {% for message in messages %}
                <li class="{{ message.tags }}" style="padding: 10px; border: 1px solid; border-radius: 3px; margin-bottom: 10px;">
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
  </div>
    </center>
</body>
</html>

